# Core do Servidor Web
flask>=2.2.0
werkzeug>=2.2.0
flask-session
gunicorn
python-dotenv


pandas>=1.5.0
pytz>=2022.1
numpy
reportlab


beautifulsoup4>=4.11.1
lxml>=4.9.1
trafilatura>=1.4.0

# Geração de Relatórios Excel
openpyxl>=3.0.10
xlsxwriter>=3.0.3


google-api-python-client>=2.0.0
google-auth>=2.3.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=0.4.6
requests>=2.28.0